// colors
$primary : #FF6700;
$secondary: #3A6EA5;
$third: #004E98;
$light: #EBEBEB;
$gray: #C0C0C0;
$black: #000000;


// fonts
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;600&display=swap');
$font-primary: 'Catamaran', sans-serif;

//breakpoint screen size
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

//orientation
$orientations: (
    'portrait': portrait,
    'landscape': landscape
);

//fonts
$font-nunito:'Nunito', sans-serif;

//font size
$titles: (
  'h1': 3.2rem,
  'h2': 2.9rem,
  'h3': 2.6rem,
  'h4': 2.3rem,
  'h5': 2rem,
  'h6': 1.7rem,
);

$text: (
  'p': 1.5rem,
);
