*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-primary;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: 5px;
}


%flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-column {
    @extend %flex
}

.flex-row {
    @extend %flex;
    flex-direction: row;
    flex-wrap: wrap;
}
